/* section */

section,
.max {
    margin: 15px auto;
    width: 1370px;
    height: 2214px;
}

section .left {
    float: left;
    width: 1062px;
    height: 2150px;
}

section .head {
    width: 100%;
    height: 40px;
    background-color: #f6f6f6;
}

section li {
    float: left;
    list-style: none;
    height: 24px;
    padding: 8px 10px;
}

section li a {
    color: #80Bd01;
    text-decoration: none;
}

section .dataapi {
    height: 50px;
    background-color: #ffffff;
}